NODE_ENV=development
PORT=5000
SUPABASE_URL=https://dlxvjjpgeodgegttdabd.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRseHZqanBnZW9kZ2VndHRkYWJkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjQxMDI3NiwiZXhwIjoyMDgxOTg2Mjc2fQ.G2ExTThs7-rXKbv4w0Eun8J1M6yOgUJfCk0-y07xjbU
JWT_SECRET=a1f9c3d7e5b24f6a93d0e5b1f2c7a8d4b6e9f2a7c1d3f5b9a4c8e2d6f0b3a7c5
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
GOOGLE_CLIENT_ID=your_google_client_id_here
